<launch>
	<node name="VWO_node" pkg="VWO" type="VWO_node" output="screen">
		<param name="config_file_path" type="string" value="$(find VWO)/config/flir_24392822.yaml"/>
		<param name="image_topic" type="string" value="/VPS/image_color"/>
		<param name="odom_frame" type="string" value="/odom"/>
	</node>
</launch>
